@media (prefers-color-scheme: light){
	body{
		--theme-background-primary: #fff;
		--theme-background-secondary: #eee;
		--theme-background-tertiary: #c8c8c8;
		--theme-background-quaternary: #b1b1b1;

		--theme-background-primary-invert: #1b1b1b;
		--theme-background-secondary-invert: #101822;
		--theme-background-tertiary-invert: #343434;
		--theme-background-quaternary-invert: #4e4e4e;

		--theme-border-primary:  #cdcdcd;
		--theme-border-secondary:  #cdcdcd;

		--theme-text-primary: #1b1b1b;
		--theme-text-secondary: #4e4e4e;
		--theme-text-inactive: #9e9e9ea6;
		--theme-text-link: #0069c2;
		--theme-text-invert: #fff;

		--theme-accent-primary: #0085f2;

		--theme-scrollbar-bg: transparent;
		--theme-scrollbar-color: rgba(0, 0, 0, 0.25);

		--theme-bg-color: #D7D3CB;
		--theme-popup-bg-color: #CCCCCC;
		--theme-text-color: #111111;
		--theme-text-bg-color: 238 238 238;

		--theme-text-color-warning:#ff6a00;
		--theme-filter-invert-light:invert(100%);

		--theme-main-bg-color-bright: #D7D3CB;
		--theme-main-bg-color-dark: #DEDAD4;
	}
}
@media (prefers-color-scheme: dark){
	body{
		--theme-background-primary: #1b1b1b;
		--theme-background-secondary: #101822;
		--theme-background-tertiary: #343434;
		--theme-background-quaternary: #4e4e4e;

		--theme-background-primary-invert: #fff;
		--theme-background-secondary-invert: #eee;
		--theme-background-tertiary-invert: #c8c8c8;
		--theme-background-quaternary-invert: #b1b1b1;

		--theme-border-primary:  #858585;
		--theme-border-secondary:  #696969;

		--theme-text-primary: #fff;
		--theme-text-secondary: #cdcdcd;
		--theme-text-inactive: #cdcdcda6;
		--theme-text-link: #8cb4ff;
		--theme-text-invert: #1b1b1b;

		--theme-accent-primary: #5e9eff;

		--theme-scrollbar-bg: transparent;
		--theme-scrollbar-color: rgba(255, 255, 255, 0.25);

		--theme-bg-color: #21252b;
		--theme-popup-bg-color: #333333;
		--theme-text-color: #EEEEEE;
		--theme-text-bg-color: 17 17 17;

		--theme-text-color-warning:orange;
		--theme-filter-invert-dark:invert(100%);

		--theme-main-bg-color-bright: #41454d;
		--theme-main-bg-color-dark: #21252b;
	}
}
